p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.name {
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 10px;
}

.profile-card {
  width: 200px;
  border-radius: 2px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.25);
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.mutual-friend {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 40px;
  margin-left: 10px;
}

.no-mutual-friends {
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.addfriend-button {
  margin: 10px;
  padding: 6px;
  width: 100px;
  color: white;
  background-color: rgb(0, 115, 255);
  border: none;
  border-radius: 2px;
}

.mutual-profile-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
